<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=    1.0">
  <link href="./stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <h1 class="text-5xl font-bold my-2 mx-4">Hello!</h1>
  <div class="flex flex-h">
    <div class="max-w-64 min-w-48 p-2 border-2 border-solid rounded-lg">
      <div class="text-2xl font-bold">Card Title</div>
      <div>Card text which is long enough to go into the next line</div>
    </div>
  </div>
</body>
</html>
