<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=    1.0">
  <link href="./stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <h1 class="text-5xl font-bold my-2 mx-4">Hello!</h1>
  <div class="flex flex-h">
    <div class="max-w-sm min-w-48 p-2 border-1 shadow-lg border-solid rounded-lg">
      <div class="text-2xl font-bold">Card Title</div>
      <div>Card text which is long enough to go into the next line</div>
    </div>
  </div>

  <h2 class="text-5xl font-bold my-2 mx-4">Cards</h2>

  <div class="max-w-sm shadow-lg overflow-hidden">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
  </div>

  <div class="max-w-lg overflow-hidden shadow-lg bg-white mt-2 ml-5 rounded-lg">
    <div class="px-4 py-4">
      <div class="text-2xl font-bold">
        Title
      </div>
      <div class="text-md text-gray-500">Secondary text</div>
    </div>
    <img src="image.jpg" alt="country cottage" class="h-64 w-full object-cover"></img>
    <div class="mt-4 px-4">
      <div class="text-md text-gray-500">Description text will go here and will be longer than title text.</div>
      <div class="mt-6 mb-4">
        <a href="#" class="text-lg font-semibold text-purple-600">ACTION 1</a>
        <a href="#" class="text-lg font-semibold text-purple-600 ml-5">ACTION 2</a>
      </div>
    </div>
  </div>
  <h1 class="text-lg font-bold" style="color: #b33261">Hello</h1>
  <div class="text-md max-w-lg" >
      Lorem ipsum dolor sit amet, consectetur <span class="font-bold" style="color: #b33261">adipiscing</span> elit. Pellentesque fringilla velit augue, eu cursus justo tempus ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc semper porta magna eu sollicitudin. Phasellus convallis dignissim ligula, at eleifend diam ultricies sit amet. Etiam venenatis porta tellus, sit amet dictum enim interdum ac. Cras in purus augue. Etiam posuere lorem quis massa auctor mollis. Aenean aliquet ut enim quis tincidunt. Morbi luctus purus vitae magna laoreet, molestie lobortis dolor blandit. Aenean nec eleifend lacus.

    Donec in mauris sit amet nunc hendrerit congue. Sed tempus at mauris eu egestas. Vestibulum lacinia dolor ac vestibulum luctus. Curabitur eu justo a neque gravida condimentum. Mauris rhoncus sapien quis urna cursus volutpat. Nam hendrerit lectus dui, quis blandit tellus pretium eget. Praesent eget nisi et enim bibendum varius. Donec tristique cursus neque sed eleifend. Etiam maximus quis ipsum vitae sodales. Quisque mattis in eros at suscipit. Sed facilisis, libero a dictum mattis, elit augue hendrerit ex, quis ornare nisl nibh id dui. Pellentesque porta nisl leo, venenatis bibendum orci dapibus vel. Donec vitae vehicula risus, ac faucibus ante. Etiam eleifend neque et ullamcorper mattis. Integer consectetur convallis est, ac elementum orci dapibus sit amet. Sed pulvinar libero eu purus lobortis euismod.
  </div>
</body>

</html>
