<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=    1.0">
  <link href="./stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
  <h1 class="text-5xl font-bold my-2 mx-4">Hello!</h1>
  <div class="flex flex-h">
    <div class="max-w-sm min-w-48 p-2 border-1 shadow-lg border-solid rounded-lg">
      <div class="text-2xl font-bold">Card Title</div>
      <div>Card text which is long enough to go into the next line</div>
    </div>
  </div>

  <h2 class="text-5xl font-bold my-2 mx-4">Cards</h2>

  <div class="max-w-sm shadow-lg overflow-hidden">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
      <p class="text-gray-700 text-base">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
    </div>
  </div>

  <div class="max-w-sm overflow-hidden shadow-lg bg-white mt-2 ml-5 rounded-lg">
    <div class="px-4 py-4">
      <div class="text-2xl font-bold">
        Title
      </div>
      <div class="text-md text-gray-500">Secondary text</div>
    </div>
    <img src="image.jpg" alt="country cottage" class="h-64 w-full object-cover"></img>
    <div class="mt-4 px-4">
      <div class="text-md text-gray-500">Description text will go here and will be longer than title text.</div>
      <div class="mt-6">
        <a href="#" class="text-lg font-semibold text-purple-600">ACTION 1</a>
        <a href="#" class="text-lg font-semibold text-purple-600 ml-5">ACTION 2</a>
      </div>
    </div>
  </div>
</body>
</html>
